body{
    background-color: #ffe9d4;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: all ease 0.2s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button:hover{
    transition: all ease 0.2s;
    transform: translateY(-5px);
}

.success {
    color: white;
    background-color: #4CAF50 !important; /* Verde */
}
.error {
    color: white;
    background-color: #e53935 !important; /* Rosso */
}